<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alley</key>
	<string>Aly</string>
	<key>Annex</key>
	<string>Anx</string>
	<key>Apartment</key>
	<string>Apt</string>
	<key>Arcade</key>
	<string>Arc</string>
	<key>Avenue</key>
	<string>Ave</string>
	<key>Basement</key>
	<string>Bsmt</string>
	<key>Bayou</key>
	<string>Byu</string>
	<key>Beach</key>
	<string>Bch</string>
	<key>Bend</key>
	<string>Bnd</string>
	<key>Bluff</key>
	<string>Blf</string>
	<key>Bottom</key>
	<string>Btm</string>
	<key>Boulevard</key>
	<string>Blvd</string>
	<key>Branch</key>
	<string>Br</string>
	<key>Bridge</key>
	<string>Brg</string>
	<key>Brook</key>
	<string>Brk</string>
	<key>Building</key>
	<string>Bldg</string>
	<key>Burg</key>
	<string>Bg</string>
	<key>Bypass</key>
	<string>Byp</string>
	<key>Camp</key>
	<string>Cp</string>
	<key>Canyon</key>
	<string>Cyn</string>
	<key>Cape</key>
	<string>Cpe</string>
	<key>Causeway</key>
	<string>Cswy</string>
	<key>Center</key>
	<string>Ctr</string>
	<key>Circle</key>
	<string>Cir</string>
	<key>Cliff</key>
	<string>Clfs</string>
	<key>Cliffs</key>
	<string>Clfs</string>
	<key>Club</key>
	<string>Clb</string>
	<key>Corner</key>
	<string>Cor</string>
	<key>Corners</key>
	<string>Cors</string>
	<key>Course</key>
	<string>Crse</string>
	<key>Court</key>
	<string>Ct</string>
	<key>Courts</key>
	<string>Cts</string>
	<key>Cove</key>
	<string>Cv</string>
	<key>Creek</key>
	<string>Crk</string>
	<key>Crescent</key>
	<string>Cres</string>
	<key>Crossing</key>
	<string>Xing</string>
	<key>Dale</key>
	<string>Dl</string>
	<key>Dam</key>
	<string>Dm</string>
	<key>Department</key>
	<string>Dept</string>
	<key>Divide</key>
	<string>Dv</string>
	<key>Drive</key>
	<string>Dr</string>
	<key>Estate</key>
	<string>Est</string>
	<key>Expressway</key>
	<string>Expy</string>
	<key>Extension</key>
	<string>Ext</string>
	<key>Falls</key>
	<string>Fls</string>
	<key>Ferry</key>
	<string>Fry</string>
	<key>Field</key>
	<string>Fld</string>
	<key>Fields</key>
	<string>Flds</string>
	<key>Flat</key>
	<string>Flt</string>
	<key>Floor</key>
	<string>Fl</string>
	<key>Ford</key>
	<string>Frd</string>
	<key>Forest</key>
	<string>Frst</string>
	<key>Forge</key>
	<string>Frg</string>
	<key>Fork</key>
	<string>Frk</string>
	<key>Forks</key>
	<string>Frks</string>
	<key>Fort</key>
	<string>Ft</string>
	<key>Freeway</key>
	<string>Fwy</string>
	<key>Front</key>
	<string>Frnt</string>
	<key>Garden</key>
	<string>Gdns</string>
	<key>Gardens</key>
	<string>Gdns</string>
	<key>Gateway</key>
	<string>Gtwy</string>
	<key>Glen</key>
	<string>Gln</string>
	<key>Green</key>
	<string>Grn</string>
	<key>Grove</key>
	<string>Grv</string>
	<key>Hanger</key>
	<string>Hngr</string>
	<key>Harbor</key>
	<string>Hbr</string>
	<key>Haven</key>
	<string>Hvn</string>
	<key>Heights</key>
	<string>Hts</string>
	<key>Highway</key>
	<string>Hwy</string>
	<key>Hill</key>
	<string>Hl</string>
	<key>Hills</key>
	<string>Hls</string>
	<key>Hollow</key>
	<string>Holw</string>
	<key>Inlet</key>
	<string>Inlt</string>
	<key>Island</key>
	<string>Is</string>
	<key>Islands</key>
	<string>Iss</string>
	<key>Junction</key>
	<string>Jct</string>
	<key>Key</key>
	<string>Ky</string>
	<key>Knoll</key>
	<string>Knls</string>
	<key>Knolls</key>
	<string>Knls</string>
	<key>Lake</key>
	<string>Lk</string>
	<key>Lakes</key>
	<string>Lks</string>
	<key>Landing</key>
	<string>Lndg</string>
	<key>Lane</key>
	<string>Ln</string>
	<key>Light</key>
	<string>Lgt</string>
	<key>Loaf</key>
	<string>Lf</string>
	<key>Lobby</key>
	<string>Lbby</string>
	<key>Lock</key>
	<string>Lcks</string>
	<key>Locks</key>
	<string>Lcks</string>
	<key>Lodge</key>
	<string>Ldg</string>
	<key>Lower</key>
	<string>Lowr</string>
	<key>Manor</key>
	<string>Mnr</string>
	<key>Meadow</key>
	<string>Mdws</string>
	<key>Meadows</key>
	<string>Mdws</string>
	<key>Mill</key>
	<string>Ml</string>
	<key>Mills</key>
	<string>Mls</string>
	<key>Mission</key>
	<string>Msn</string>
	<key>Mount</key>
	<string>Mt</string>
	<key>Mountain</key>
	<string>Mtn</string>
	<key>Neck</key>
	<string>Nck</string>
	<key>Office</key>
	<string>Ofc</string>
	<key>Orchard</key>
	<string>Orch</string>
	<key>Parkway</key>
	<string>Pkwy</string>
	<key>Penthouse</key>
	<string>Ph</string>
	<key>Pine</key>
	<string>Pnes</string>
	<key>Pines</key>
	<string>Pnes</string>
	<key>Place</key>
	<string>Pl</string>
	<key>Plain</key>
	<string>Pln</string>
	<key>Plains</key>
	<string>Plns</string>
	<key>Plaza</key>
	<string>Plz</string>
	<key>Point</key>
	<string>Pt</string>
	<key>Port</key>
	<string>Prt</string>
	<key>Prairie</key>
	<string>Pr</string>
	<key>Radial</key>
	<string>Radl</string>
	<key>Ranch</key>
	<string>Rnch</string>
	<key>Rapid</key>
	<string>Rpds</string>
	<key>Rapids</key>
	<string>Rpds</string>
	<key>Rest</key>
	<string>Rst</string>
	<key>Ridge</key>
	<string>Rdg</string>
	<key>River</key>
	<string>Riv</string>
	<key>Road</key>
	<string>Rd</string>
	<key>Room</key>
	<string>Rm</string>
	<key>Shoal</key>
	<string>Shl</string>
	<key>Shoals</key>
	<string>Shls</string>
	<key>Shore</key>
	<string>Shr</string>
	<key>Shores</key>
	<string>Shrs</string>
	<key>Space</key>
	<string>Spc</string>
	<key>Spring</key>
	<string>Spg</string>
	<key>Springs</key>
	<string>Spgs</string>
	<key>Square</key>
	<string>Sq</string>
	<key>Station</key>
	<string>Stn</string>
	<key>Stravenue</key>
	<string>Stra</string>
	<key>Stream</key>
	<string>Strm</string>
	<key>Street</key>
	<string>St</string>
	<key>Suite</key>
	<string>Ste</string>
	<key>Summit</key>
	<string>Smt</string>
	<key>Terminal 1</key>
	<string>T1</string>
	<key>Terminal 2</key>
	<string>T2</string>
	<key>Terminal 3</key>
	<string>T3</string>
	<key>Terminal 4</key>
	<string>T4</string>
	<key>Terminal 5</key>
	<string>T5</string>
	<key>Terrace</key>
	<string>Ter</string>
	<key>Trace</key>
	<string>Trce</string>
	<key>Track</key>
	<string>Trak</string>
	<key>Trafficway</key>
	<string>Trfy</string>
	<key>Trail</key>
	<string>Trl</string>
	<key>Trailer</key>
	<string>Trlr</string>
	<key>Tunnel</key>
	<string>Tunl</string>
	<key>Turnpike</key>
	<string>Tpke</string>
	<key>Union</key>
	<string>Un</string>
	<key>Upper</key>
	<string>Uppr</string>
	<key>Valley</key>
	<string>Vly</string>
	<key>Viaduct</key>
	<string>Via</string>
	<key>View</key>
	<string>Vw</string>
	<key>Village</key>
	<string>Vlg</string>
	<key>Ville</key>
	<string>Vl</string>
	<key>Vista</key>
	<string>Vis</string>
	<key>Way</key>
	<string>Way</string>
	<key>Well</key>
	<string>Wls</string>
	<key>Wells</key>
	<string>Wls</string>
</dict>
</plist>
